body {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.bg-custom {
    background-color: #333396;
    color: #fbfbfb;
}

.container-xxl {
    width: 100%;
    margin: 0;
    padding: 0;
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: opacity 1s;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #333396;
    border-bottom: 3px solid #f93154;
    width: 69px;
    height: 69px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader > h3 {
    margin-top: 33px;
    color: #333396;
    font-weight: 600;
    animation: color-change1 5s linear infinite;
}

@keyframes color-change1 {
    0% { color:#333396; }
    20% { color: #333396; }
    40% { color: #f93154; } 
    60% { color: #f93154;}
    80% { color: #333396; }
    100% { color: #333396; }
}

.preloader > h3 > span {
    color: #f93154;
    animation: color-change2 5s linear infinite;
}

@keyframes color-change2 {
    0% { color:#f93154; }
    20% { color: #f93154; }
    40% { color: #333396; } 
    60% { color: #333396;}
    80% { color: #f93154; }
    100% { color: #f93154; }
}

.sticky {
    position: fixed;
    top: -100px;
    transform: translateY(100px);
    width: 100vw;
    z-index: 2;
    transition: 1s;
}

.sticky + .carousel {
    padding-top: 60px;
}

.navbar {
    z-index: 3;
}

.navbar-header > .container {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social > * {
    color: #fbfbfb;
    font-size: 15px;
    margin: 0 3px;
    padding: 3px 9px;
    border-radius: 15%;
    transition: 0.6s;
}

.social > *:hover {
    background-color: #ffffff;
    color: #f93154;
    border-radius: 30%;
    transition: 0.3s;
}

.navbar {
    padding: 3vh 0;
}

.navbar-brand {
    color: #333396;
    font-weight: 700;
    transition: 0.5s;
}

.navbar-brand > span {
    color: #f93154;
    transition: 0.5s;
}

.navbar-brand:hover {
    color: #f93154;
    transition: 0.5s;
}

.navbar-brand:hover > span {
    color: #333396;
    transition: 0.5s;
}

.carousel-item > img {
    width: 100vw;
    height: 90vh;
    opacity: 0.6;
}

.carousel-caption {
    top: 30%;
    color: #333396;
    text-shadow: 1px 1px 1px #fbfbfb;
    text-align: start;
    font-weight: 700;
    background-position: 100px;
}

.carousel-caption > h2 {
    font-size: 69px;
    font-weight: 700;
}

.carousel-control-prev {
    justify-content: start;
    padding: 30px;
}

.carousel-control-next {
    justify-content: end;
    padding: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
}

section {
    margin-top: 69px;
    margin-bottom: 165px;
} 

section h2 {
    color: #333396;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

section h2 > span {
    color: #f93154;
}

.service .card {
    transition: 0.5s;
    border-radius: 33px;
}

.service .card:hover {
    border: 1px solid #333396;
    transform: scale(1.05);
    transition: 0.5s;
    z-index: 1;
}

.service .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service .card-body > i {
    color: #333396;
    font-size: 69px;
    margin: 13px;
}

.service .card-body > h3 {
    color: #f93154;
    font-weight: 600;
}

.about {
    background: linear-gradient(70deg, #333396  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #f93154 60%, #333396 60%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.about > div {
    color: #fbfbfb;
    font-weight: 600;
}

.about > div > div > img {
    width: 100%;
    border-radius: 30px;
}

.about > div > div > div > h2 {
    color: #fbfbfb;
    font-weight: 700;
    text-align: start;
}

.about > div > div > div > div > p:first-child{
    color: #fbfbfb;
    font-size: 23px;
}

.about > div > div > div > div > p:nth-child(2){
    text-align: justify;
}

.about > div > div > div > div > button{
    background-color: #333396;
    color: #fbfbfb;
    border: 1px solid #f93154;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 23px;
    transition: 0.5s;
}

.about > div > div > div > div > button:hover{
    background-color: #f93154;
    border: 1px solid #333396;
    border-radius: 20px;
    transition: background-color 0.5s,border-radius 0.5s;
}

.service-detail > * {
    margin: 50px 10px;
    padding: 100px 50px;
    border-radius: 50px;
    font-weight: 600;
    position: relative;
}

.service-detail > div:first-child {
    background: #333396;
    color: #fbfbfb;
}

.service-detail > div:nth-child(2) {
    background-color: #f93154;
    color: #fbfbfb;
}

.service-detail > div:last-child {
    background-color: #333396;
    color: #fbfbfb;
}

.service-detail > div:first-child > i, .service-detail > div:last-child > i {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 69px;
    padding: 15px;
    border-radius: 50%;
    background-color: #f93154;
    z-index: 1;
}

.service-detail > div:nth-child(2) > i {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 69px;
    padding: 15px;
    border-radius: 50%;
    background-color: #333396;
    z-index: 1;
}

.service-detail > div > div > h2 {
    color: #fbfbfb;
    text-align: start;
}

.service-detail > div > div > p {
    text-align: justify;
}

.service-detail > div:first-child > div > button,
.service-detail > div:last-child > div > button {
    font-weight: 600;
}

.service-detail > div:nth-child(2) > div > button {
    background-color: #333396;
    color: #fbfbfb;
    font-weight: 600;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
}

.visionmission > div > h2:nth-of-type(2) {
    color: #f93154;
}

.visionmission > ol {
    list-style: none;
    counter-reset: line;
}

.visionmission > ol > li {
    position: relative;
    background-color: #333396;
    color: #fbfbfb;
    padding: 30px;
    margin: 50px 0;
    margin-right: 25px;
    border-radius: 20px;
    width: auto;
} 

.visionmission > ol > li:before {
	position: absolute;
    top: -15px;
	left: -20px;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
	height: 50px;
    background-color: #f93154;
	border-radius: 50%;
	color: #fbfbfb;
	text-align:center;
    font-size: 25px;
    font-weight: 700;
	counter-increment: line;
	content: counter(line);
    z-index: 2;
}

.visionmission > ol > li > h5 {
    font-weight: 700;
    background-color: #f93154;
    position: absolute;
    top: -9px;
    left: -10px;
    padding: 5px 45px;;
    border-radius: 0 30px 30px 0;
    z-index: 1;
}

.visionmission > ol > li > p {
    font-size: 18px;
    margin: 20px 0;
}  

.product > h3 {
    color: #333396;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product > h3 > span {
    color: #f93154;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product > div:first-of-type {
    margin-top: 50px;
    margin-bottom: 300px;
    padding-bottom: 100px;
    position: relative;
    background-color: #333396;
    color: #fbfbfb;
    border-radius: 0 20px 20px 20px;
}

.product > div:first-of-type > div:first-of-type {
    position: absolute;
    top: -43px;
    padding: 5px 10px;
    padding-left: 25px;
    background-color: #f93154;
    border-radius: 0 30px 0 0;
    color: #fbfbfb;
}

.product > div:first-of-type > div:first-of-type > h3 {
    position: relative;
    padding: 0 10px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 700;
}

.product > div:first-of-type > div:first-of-type > h3 > i {
    position: absolute;
    top: -19px;
    left: -60px;
    background-color: #f93154;
    border-radius: 10px;
    padding: 5px;
    font-size: 60px;
}

.product > div:first-of-type > div:last-of-type > h3 {
    font-weight: 700;
}

.product > div:first-of-type > div:last-of-type > div {
    margin-top: 20px;
    margin-left: -9px;
    width: 96%;
} 

.product > div:first-of-type > div:last-of-type .slick-slide {
    border-radius: 30px;
    overflow: hidden;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-title {
    font-weight: 700;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-text {
    font-weight: 700;
    background-color: #f93154;
    color: #fbfbfb;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-text:hover {
    background-color: #fbfbfb;
    color: #333396;
    transition: 0.3s;
}

.product > h3:last-of-type {
    margin-top: 50px;
}

.product-brand .slick-slide > img {
    width: 250px;
    height: 150px;
    margin: auto;
}

footer {
    background-color: #333396;
    color: #fbfbfb;
    margin: 0;
    overflow: hidden;
}

footer > div > div:first-of-type {
    background-color: #f93154;
}

footer > div > div:last-of-type {
    margin: 30px;
}

footer > div > div:last-of-type > div:first-of-type  p { 
    margin-bottom: 0;
}

footer h2, footer h5 {
    display: inline-block;
    background-color: #f93154;
    margin-left: -10px;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 20px;
}

footer a {
    color: #fbfbfb;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #d6d6d6;
    transition: 0.3s;
}

footer p { 
    margin-bottom: 0;
}

footer > div > div > ul > li {
    list-style: none;
    margin-left: -31px;
}

@media screen and (min-width:1400px){
    .container-xxl {
        margin: auto;
        padding: auto;
    }

    .carousel-item > img {
        width: auto;
        height: auto;
        margin: 0 auto
    }

    .about {
        min-height: 0;
    }
}

/* M */
@media screen and (max-width:992px) {
    .carousel-item > img {
        height: auto;
    }

    .about {
        min-height: 0;
    }

    .about > div > div > img {
        transform: scaleY(0.9);
    }

    .service-detail > div > img {
        width: 50% !important;
    }
    
    .product > div:first-of-type > div:first-of-type {
        top: -35px;
    }
    
    .product > div:first-of-type > div:first-of-type > h3 > i {
        top: -9px;
        left: -50px;
        font-size: 40px;
    }

    footer > div:last-of-type > div:first-of-type  p { 
        margin-bottom: 50px;
    }
}


/* S */
@media screen and (max-width:768px) {
    .about > div > div > img {
        transform: scaleY(1);
        margin-bottom: 30px;
    }

    .service-detail > div > img {
        width: 100% !important;
    }

    .visionmission > ol > li > h5 {    
        font-size: 18px;
    }

    .product > div:first-of-type > div:first-of-type {
        top: -30px;
    }
    
    .product > div:first-of-type > div:first-of-type > h3 {
        font-size: 18px;
    }

    .product > div:first-of-type > div:first-of-type > h3 > i {
        top: -15px;
        left: -30px;
        font-size: 40px;
    }

    .product > h3:last-of-type {
        margin-top: 350px;
    }
}

/* XS */
@media screen and (max-width:576px) {
    .carousel-control-prev {
        padding: 0;
    }
    
    .carousel-control-next {
        padding: 0;
    }    

    .about {
        min-height: 0;
    }

    .about > div > div > div > div > button {
        width: 100%;
    }

    .service-detail > div > i {
        transform: scale(0.9);
    }

    .product > h3:last-of-type {
        margin-top: 400px;
    }
}